.paginatorContainer {
    display: flex;
    justify-content: center;
    background-color: #046e61;
    border-radius: 0 0 20px 20px;

    .container {
        width: 90%;
        display: flex;
        justify-content: center;
        color: white;

        .edge {
            width: 80px;
            display: flex;
            text-align: center;
            justify-content: flex-start;
        }

        .center {
            width: 170px;
            display: flex;
            text-align: center;
            justify-content: flex-start;
        }

        & div span {
            font-size: 12px;
            line-height: 3;
        }

        & div button {
            cursor: pointer;
            border: none;
            background-color: #046e61;
            outline: none;
            color: white;
            border-radius: 20%;
            min-width: 30px;
            font-size: 12px;
            margin: 0;
        }

        & div button:hover {
            font-weight: bold;
            background-color: #13b09d;
            color: #aef3e5;
        }

        & div .selectedPage {
            font-weight: bold;
            background-color: #13b09d;
            color: #aef3e5;
        }
    }
}