.header {
    grid-area: h;
    background-color: #939693;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

.header img {
    height: 100%;
}

.loginBlock {
    /*float: right;*/
}

.loginBlock a {
    color: white;
}