.nav {
    grid-area: n;
    background-color: #5295e5;
    padding: 20px;
}

.item a {
    color: #0a3b6c;
    text-decoration: none;
}

.item a.active {
    color: #e8a175;
}

.sidebar {
    margin-top: 50px;
}

.friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.friends img {
    width: 70px;
    heigth: 70px;
    border-radius: 50%;
}

.title {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}