.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: #494949;
}

.dialog {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: start;
}

.dialog img{
    width: 50px;
    heigth: 50px;
    border-radius: 50%;
}